:root {
  /* ----------- Color ---------------- */
  --beige-bg: rgb(243, 231, 212); /* darker beige */
  --cream-bg: rgb(248, 246, 241); /* cream color, lighter accent */
  --card-bg: rgb(246, 243, 234); /* card background, darker beige */
  --overlay-bg: rgba(243, 231, 212, 0.88); /* light, elegant overlay */
  --accent-light: rgb(230, 219, 199); /* warm, light accent for buttons/links */
  --accent-hover: rgb(210, 194, 168); /* darker variant for hover */
  --green-accent: rgb(53, 84, 58);
  --green-accent-soft: rgb(78, 110, 93);
  --text-dark: rgb(45, 42, 38);
  --text-green: rgb(58, 90, 64);
  --text-dark-green: rgb(45, 70, 54); /* dark green for text */
  /* ------------- Shadow -------------- */
  /* ------------ Font size--------------- */
  --font-h1: 3rem;
  --font-h2: 2.25rem;
  --font-h3: 2rem;
  --font-h4: 1.5rem;
  --font-h5: 1.25rem;
  --font-p: 1rem;
  --font-button: 0.8rem;
}

@media (max-width: 700px) {
  :root {
    --font-h1: 2.5rem;
    --font-h2: 2rem;
    --font-h3: 1.5rem;
    --font-h4: 1.05rem;
    --font-h5: 1rem;
    --font-p: 0.9rem;
    --font-button: 0.75rem;
  }
}
@media (max-width: 500px) {
  :root {
    --font-h1: 1.5rem;
  }
}
